@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
/* your custom css */

h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: 'Roboto', sans-serif;
}

body, .fixedHeaderContainer {
  background-color: $background;
  color: $secondaryColor;
}

.blockContent h2 p,
.nav-footer .copyright {
  color: $title;
}

.nav-footer .copyright {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.blockContent p {
  color: $text;
}

.sideNavVisible {
  background-color: white;
}

.nav-footer .sitemap .nav-home {
  opacity: 1;
}

.card {
  background-color: white;
  padding: 50px;
  margin: 20px 50px;
}

.cube {
  position: absolute;
  left: -49px;
  top: -65px;
}

.homeButton {
  border-radius: unset;
  border: unset;
  font-size: 14px;
  font-weight: 500;
  padding: 20px;
  letter-spacing: 1px;
  text-transform: unset;
}

.fixedHeaderContainer header h3,
.navigationSlider .slidingNav ul {
  color: $secondaryColor;
}

.navPusher {
  z-index: unset;
}

.nav-footer .sitemap a,
.nav-footer .sitemap h5 {
  color: $secondaryColor;
}

.nav-footer .sitemap a:hover,
.nav-footer .sitemap a:focus {
  color: $primaryColor;
}

.sectionTitle {
  font-weight: 700;
  text-align: center;
  padding: 50px 0;
  text-transform: uppercase;
}

.projectTitle {
  font-size: 200%;
  font-weight: 700;
  color: $secondaryColor;
  line-height: 50px;
}

.paddingTop {
  padding-top: 80px;
}

@media only screen and (min-width: 360px) and (max-width: 736px) {
  .card {
    padding: 20px;
    margin: 10px;
  }

  .cube {
    height: 61px;
    position: absolute;
    left: -24.5px;
    top: -32.5px;
  }
}

@media only screen and (max-width: 774px) {
  .halfCube {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .navigationSlider .slidingNav ul li a {
    color: $secondaryColor;
    font-weight: 500;
  }

  .navigationSlider .slidingNav ul li a:focus,
  .navigationSlider .slidingNav ul li a:hover,
  .navigationSlider .slidingNav ul li.siteNavItemActive a,
  .navigationSlider .slidingNav ul li.siteNavGroupActive a {
    background: $background;
    color: $primaryColor;
  }

  .halfCube {
    position: absolute;
    right: -135px;
    top: 10px;
    z-index: 99999;
    height: 300px;
  }
}

@media only screen and (max-width: 1023px) {
  .navigationSlider .slidingNav ul li a,
  .navigationSlider .slidingNav ul li a:focus,
  .navigationSlider .slidingNav ul li a:hover,
  .navigationSlider .slidingNav ul li.siteNavItemActive a,
  .navigationSlider .slidingNav ul li.siteNavGroupActive a {
    color: white;
  }

  .halfCube {
    position: absolute;
    right: -112px;
    top: 110px;
    z-index: 99999;
    height: 250px;
  }
}

@media only screen and (min-width: 736px) and (max-width: 1220px) {
  .cardBlock > * {
    margin: 0 20px;
  }

  .cardBlock > *:first-child {
    margin-left: 40px;
  }

  .cardBlock > *:last-child {
    margin-right: 40px;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
